@import "../static/style/index.less";
@import "icon.less";

main.main > article {
	@width-toolbox: 40px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	header {
		border: solid 1px rgb(117, 112, 112);
	}

	section {
		max-width: 1024px;
		max-height: 576px; // 16:9
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		aside {
			width: @width-toolbox;
			position: absolute;
			right: -(@width-toolbox + 2px);
			background-color: #f7f7f7;

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				text-align: center;

				li {
					cursor: pointer;
				}
			}

			div#picker {
				width: 16px;
				height: 16px;
				margin: 6px auto 15px auto;
				cursor: pointer;
				position: relative;
			}
		}
	}

	footer {
		input {
			width: 70px;
			text-align: center;
		}
	}
}

main.main > aside {
	display: flex;
	flex-direction: column;
	width: 100%;

	nav > a {
		display: inline;
	}

	article {
		height: 100%;
		min-width: 300px;
		margin-top: 10px;
		margin-bottom: 15px;
		box-shadow: -2px 2px 7px rgba(77, 77, 77, 0.5);
	}

	article#function {
		& > div:first-child {
			& > input {
				text-align: center;

				&:focus {
					cursor: text;
				}
			}
		}

		& > section {
			margin: 10px;
			position: relative;
			display: block;

			& > label {
				left: 50%;
				width: 100%;
				cursor: pointer;
				position: absolute;
				transform: translateX(-50%);
			}

			& > input#load {
				visibility: hidden;
			}
		}

		button {
			margin: 2px 0;
		}
	}

	article#discus {
		display: flex;
		flex-direction: column;

		& > section#chat-member {
			display: none;
		}

		& > section#chat-message {
			height: 100%;
			border-style: none;

			& > div {
				margin: 8px 5px;
				word-break: break-all;
				word-wrap: break-word;
				position: relative;

				span:first-child {
					margin: 5px;
					max-width: 200px;
					font-weight: 350;
					overflow: hidden;
					white-space: nowrap;
					display: inline-block;
					text-overflow: ellipsis;
				}

				span:nth-child(2) {
					font-size: 13px;
					font-weight: 350;
					position: absolute;
					right: 7px;
					top: 7px;
				}

				p {
					margin: 5px;
					padding: 8px;
					font-size: 16px;
					border-radius: 5px;
					background-color: #cdf4b8;
					box-shadow: -2px 2px 4px #cdf4b8ca;
				}
			}
		}

		& > section#chat-box {
			@height-tool: 30px;
			@height-text: 120px;

			width: 100%;
			position: relative;
			border-radius: 2px;

			& > div {
				height: @height-tool;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-top: solid 1px rgba(217, 217, 217, 0.5);
				border-bottom: solid 1px rgba(217, 217, 217, 0.5);

				& > label {
					font-size: 13px;
				}

				& > button {
					min-width: 70px;
					padding: 0;
				}
			}

			& > textarea {
				width: 100%;
				height: @height-text;
				border-style: none;
				resize: none;
				padding: 5px;
			}

			& > button {
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
	}
}

#canvas-paint {
	position: absolute;
	z-index: 10;
}

#canvas-node {
	-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	// box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5);
}

#img-proxy,
#input-proxy,
#textarea-proxy {
	position: absolute;
	z-index: -10;
	border-style: none;
	width: 0px;
	height: 0px;
}

#input-proxy {
	bottom: 0;
	left: 0;
}
