@import "../static/style/index.less";

main.main > article {
	@width-toolbox: 40px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	& > h1 {
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}

	section {
		max-width: 1024px;
		max-height: 576px; // 16:9
		position: relative;
		align-self: baseline;

		& > div#clock {
			top: -20%;
			position: absolute;
			margin: 15px;
			padding: 5px 15px;
			border: dashed 3px rgb(104, 104, 104);
			border-radius: 5px;
			text-align: center;
			font-size: 25px;
			font-weight: 500;

			p {
				margin: 0;
			}

			span {
				font-size: 25px;
				font-weight: 500;
				width: 30%;
			}
		}

		& > header#present {
			background-color: white;
			position: absolute;
			width: 100%;
			height: 100%;

			& > div:last-child {
				z-index: 22;
				left: 50%;
				top: 50%;
				position: absolute;
				transform: translate(-50%, -50%);

				display: grid;
				grid-template-columns: 1fr 1.1fr;
				grid-template-rows: 1.5fr repeat(3, 1fr);
				column-gap: 10px;
				justify-content: center;
				align-content: center;
				height: 40%;
				width: 100%;

				h1 {
					justify-self: center;
					grid-row-start: 1;
					grid-row-end: 2;
					grid-column-start: 1;
					grid-column-end: 3;
				}

				span {
					font-size: 18px;
				}

				span.k {
					justify-self: flex-end;
					grid-column-start: 1;
					grid-column-end: 2;
				}

				span.v {
					justify-self: flex-start;
					grid-column-start: 2;
					grid-column-end: 3;
				}
			}
		}

		& > img#note-proxy {
			position: absolute;
			z-index: 10;
		}

		& > img#slide-proxy {
			-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
			box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5);
		}
	}
}

main.main > aside {
	width: 100%;
	position: relative;
	@pad: 15px;

	& > nav {
		right: 50%;
		height: 50px;
		position: absolute;
		transform: translateX(50%);

		& > a {
			display: inline;
		}
	}

	& > article {
		height: calc(100vh - 50px - 2 * @pad);
		min-width: 300px;
		margin-top: 50px + @pad;
		margin-bottom: @pad;
		box-shadow: -2px 2px 7px rgba(77, 77, 77, 0.5);
	}

	& > article#discus {
		display: flex;
		flex-direction: column;
		@height-tool: 30px;
		@height-text: 100px;

		& > section#chat-member {
			display: none;
		}

		& > section#chat-message {
			height: calc(100% - @height-tool - @height-text);
			overflow-y: auto;

			& > div {
				word-break: break-all;
				word-wrap: break-word;
				position: relative;

				span:nth-child(2) {
					font-size: 13px;
					font-weight: 350;
					position: absolute;
					right: 7px;
					top: 1px;
				}

				p {
					padding: 8px;
					margin: 2px;
					font-size: 16px;
					border-radius: 4px;
				}
			}

			& > div.stud,
			& > div.teac {
				margin: 12px 40px 0 5px;

				span:first-child {
					margin-left: 5px;
					max-width: 200px;
					font-weight: 350;
					overflow: hidden;
					white-space: nowrap;
					display: inline-block;
					text-overflow: ellipsis;
				}

				p {
					background-color: #cdf4b8;
					box-shadow: -1px 1px 3px #a0d484ca;
				}
			}

			& > div.teac > span:first-child {
				color: #ff8933;
				font-weight: 400;
			}

			& > div.self {
				margin: 12px 5px 0 40px;

				span:first-child {
					visibility: hidden;
				}

				p {
					background-color: #c9ddff;
					box-shadow: -1px 1px 3px #8faad8ca;
				}
			}

			& > div.notify {
				margin: 8px auto;
				padding: 2px;
				max-width: 180px;
				text-align: center;
				border-radius: 6px;
				background-color: #eef0e8bd;

				span {
					font-size: 13px;
					font-weight: 350;
					position: unset;
				}

				&.t span:first-child {
					color: #ff8933;
				}
			}
		}

		& > section#chat-box {
			width: 100%;
			position: relative;
			border-radius: 2px;

			& > div {
				height: @height-tool;
				display: flex;
				align-items: center;
				justify-content: space-around;
				border-top: solid 1px rgba(217, 217, 217, 0.5);
				border-bottom: solid 1px rgba(217, 217, 217, 0.5);

				& > label {
					font-size: 13px;
					cursor: pointer;
				}

				& > button {
					min-width: 50px;
					padding: 0;
				}
			}

			& > textarea {
				width: 100%;
				height: @height-text;
				resize: none;
				padding: 5px;
			}

			& > button {
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}

	& > article#note {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 25vw;
		padding: 8px 8px 0 8px;

		& > div#editor {
			height: calc(100% - 35px);
			position: relative;

			& > div:last-child {
				height: calc(100% - 53px);
			}
		}

		& > button {
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
		}

		& > a#download {
			visibility: hidden;
		}
	}
}
