@import "../static/style/index.less";
@import "icon.less";

main.main > article {
	@width-toolbox: 40px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	header {
		padding-bottom: 5px;
		border-bottom: solid 1px rgb(117, 112, 112);
	}

	section {
		max-width: 1024px;
		max-height: 576px; // 16:9
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		aside {
			width: @width-toolbox;
			position: absolute;
			right: -(@width-toolbox + 2px);
			background-color: #f7f7f7;

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				text-align: center;

				li {
					cursor: pointer;
				}
			}

			div#picker {
				width: 16px;
				height: 16px;
				margin: 6px auto 15px auto;
				cursor: pointer;
				position: relative;
			}
		}
	}

	footer {
		input {
			width: 70px;
			text-align: center;
		}
	}
}

main.main > aside {
	width: 100%;
	position: relative;

	nav {
		right: 50%;
		height: 50px;
		position: absolute;
		transform: translateX(50%);

		& > a {
			display: inline;
		}
	}

	article {
		@pad: 15px;
		height: calc(100vh - 50px - 2 * @pad);
		margin-top: 50px + @pad;
		margin-bottom: @pad;
		min-width: 300px;
		box-shadow: -2px 2px 7px rgba(77, 77, 77, 0.5);
	}

	article#discus {
		display: flex;
		flex-direction: column;
		@height-tool: 30px;
		@height-text: 100px;

		& > section#chat-member {
			display: none;
		}

		& > section#chat-message {
			height: calc(100% - @height-tool - @height-text);
			overflow-y: auto;

			& > div {
				word-break: break-all;
				word-wrap: break-word;
				position: relative;

				span:nth-child(2) {
					font-size: 13px;
					font-weight: 350;
					position: absolute;
					right: 7px;
					top: 1px;
				}

				p {
					padding: 8px;
					margin: 2px;
					font-size: 16px;
					border-radius: 4px;
				}
			}

			& > div.stud,
			& > div.teac {
				margin: 12px 40px 10px 5px;

				span:first-child {
					margin-left: 5px;
					max-width: 200px;
					font-weight: 350;
					overflow: hidden;
					white-space: nowrap;
					display: inline-block;
					text-overflow: ellipsis;
				}

				p {
					background-color: #cdf4b8;
					box-shadow: -1px 1px 3px #a0d484ca;
				}
			}

			& > div.teac > span:first-child {
				color: #ff8933;
				font-weight: 400;
			}

			& > div.self {
				margin: 12px 5px 10px 40px;

				span:first-child {
					visibility: hidden;
				}

				p {
					background-color: #c9ddff;
					box-shadow: -1px 1px 3px #8faad8ca;
				}
			}

			& > div.notify {
				margin: 8px auto;
				padding: 2px;
				max-width: 180px;
				text-align: center;
				border-radius: 6px;
				background-color: #eef0e8bd;

				span {
					font-size: 13px;
					font-weight: 350;
					position: unset;
				}

				&.t span:first-child {
					color: #ff8933;
				}
			}
		}

		& > section#chat-box {
			width: 100%;
			position: relative;
			border-radius: 2px;

			& > div {
				height: @height-tool;
				display: flex;
				align-items: center;
				justify-content: space-around;
				border-top: solid 1px rgba(217, 217, 217, 0.5);
				border-bottom: solid 1px rgba(217, 217, 217, 0.5);

				& > label {
					font-size: 13px;
					cursor: pointer;
				}

				& > button {
					min-width: 50px;
					padding: 0;
				}
			}

			& > textarea {
				width: 100%;
				height: @height-text;
				resize: none;
				padding: 5px;
			}

			& > button {
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}

	article#function {
		& > div:first-child {
			& > input {
				text-align: center;

				&:focus {
					cursor: text;
				}
			}
		}

		& > section {
			margin: 10px;
			position: relative;
			display: block;

			& > label {
				left: 50%;
				width: 100%;
				cursor: pointer;
				position: absolute;
				transform: translateX(-50%);
			}

			& > input#load {
				visibility: hidden;
			}
		}

		button {
			margin: 2px 0;
		}
	}
}

#canvas-paint {
	position: absolute;
	z-index: 10;
}

#canvas-node {
	-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5);
}

#img-proxy,
#input-proxy,
#textarea-proxy {
	position: absolute;
	z-index: -10;
	width: 0px;
	height: 0px;
}

#input-proxy {
	bottom: 0;
	left: 0;
}
